[submodule "prezto"]
	path = zprezto
	url = git://github.com/pavel-v-chernykh/prezto.git
[submodule "vim/bundle/vundle"]
	path = vim/bundle/vundle
	url = git://github.com/gmarik/vundle.git
[submodule "opt/fasd"]
	path = opt/fasd
	url = git://github.com/clvv/fasd.git
[submodule "opt/gprof2dot"]
	path = opt/gprof2dot
	url = https://code.google.com/p/jrfonseca.gprof2dot/
